/*
 *    This file is part of Quick Reader.
 *
 *    Quick Reader is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    Quick Reader is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with Quick Reader.  If not, see <https://www.gnu.org/licenses/>.
 */

@import "win32";
@import "darwin";
@import "linux";

:root {
  color: var(--text-color);
  background-color: var(--window-background-color);
  border-color: var(--border-color);

  --transition-all: all 0.2s linear;
  transition: var(--transition-all);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

textarea {
  background-color: var(--window-foreground-color);
  color: var(--text-color);
  border: thin solid var(--border-color);
  border-radius: 4pt;
  transition: var(--transition-all);
}

textarea:hover {
  border-color: var(--button-hover-color);
}

textarea:disabled {
  color: var(--text-disabled-color);
  border-color: var(--border-disabled-color);
}

a {
  color: var(--anchor-color);
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: 1pt solid var(--border-color);
  border-radius: 4pt;
  cursor: pointer;
  transition: var(--transition-all);
}

button:hover {
  border-color: var(--button-hover-color);
}

button:active {
  background-color: var(--button-hover-color);
}

button:disabled {
  color: var(--text-disabled-color);
  background-color: var(--button-disabled-background-color);
  border-color: var(--border-disabled-color);
  cursor: default;
}

img {
  transition: var(--transition-all);
}

button>img {
  margin-right: 10px;
}

button:disabled>img {
  filter: grayscale(100%);
}

input {
  transition: var(--transition-all);
}

input[type=number] {
  color: var(--text-color);
  border: 1pt solid var(--border-color);
  border-radius: 4pt;
  background-color: var(--input-background-color);
  padding: 3pt 5pt;
}

input[type=number]:hover {
  border-color: var(--button-hover-color);
}

input[type=range]:hover {
  cursor: grab;
}

input[type=range]:active {
  cursor: grabbing;
}

select {
  appearance: none;
  border: 1pt solid var(--border-color);
  border-radius: 4pt;
  color: var(--text-color);
  background-color: var(--button-background-color);
  background-image: var(--select-down-arrow-url);
  background-repeat: no-repeat;
  background-position: right 5pt top 50%;
  background-size: 7pt 9pt;
  padding: 3pt 2em 3pt 3pt;
  cursor: pointer;
  transition: var(--transition-all);
}

select:hover {
  border-color: var(--button-hover-color);
}